# EditorConfig for FractalDataWorks.Services.SecretManagers.AzureKeyVault

# Feature folders should not match namespace
[**/Commands/**/*.cs]
dotnet_style_namespace_match_folder = false

[**/Configuration/**/*.cs]
dotnet_style_namespace_match_folder = false

[**/ServiceTypes/**/*.cs]
dotnet_style_namespace_match_folder = false

[**/Services/**/*.cs]
dotnet_style_namespace_match_folder = false

[**/Logging/**/*.cs]
dotnet_style_namespace_match_folder = false

[**/Messages/**/*.cs]
dotnet_style_namespace_match_folder = false
